/* 
    Document   : new-theme-color
    Created on : Nov 6, 2013, 4:10:06 PM
    Author     : camellia
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/**there are three color for gradient, one for 0%,one for 100%**/
body.blue-new{
    background: #cdbfe3 no-repeat center center fixed; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-radial-gradient(center, ellipse cover, #cdbfe3 0%,  #9FF1E3 100%) no-repeat center center fixed; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cdbfe3),dcolor-stop(100%,#9FF1E3)) no-repeat center center fixed; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #C3D7D1 0%,#cdbfe3 0%,#9FF1E3 100%) no-repeat center center fixed; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #cdbfe3 0%,#9FF1E3 100%) no-repeat center center fixed; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,#cdbfe3 0%,#9FF1E3 100%) no-repeat center center fixed; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdbfe3', endColorstr='#563d7c',GradientType=1 ) no-repeat center center fixed; /* IE6-8 fallback on horizontal gradient */
}
body.liac-new{
    background: #C2FEFF no-repeat center center fixed; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-radial-gradient(center, ellipse cover, #CFFCDB 0%,  #F5E8A2 100%) no-repeat center center fixed; /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#CFFCDB),dcolor-stop(100%,#F5E8A2)) no-repeat center center fixed; /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #CFFCDB 0%,#F5E8A2 100%) no-repeat center center fixed; /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #CFFCDB 0%,#F5E8A2 100%) no-repeat center center fixed; /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #CFFCDB 0%,#F5E8A2 100%) no-repeat center center fixed; /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFFCDB', endColorstr='#F5E8A2',GradientType=1 ) no-repeat center center fixed; /* IE6-8 fallback on horizontal gradient */
}
body.coffee-old{
    background: #C3D7D1 no-repeat center center fixed; /* Old browsers */
    background: -moz-linear-gradient(center bottom , #EED4BB 0%, #FCF8F4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
body.blue-old{
    background: #C3D7D1 no-repeat center center fixed; /* Old browsers */
    background: -moz-linear-gradient(center bottom , #C3D7D1 0%, #EEF4F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
body.blueberry-old{
    background: #C3D7D1 no-repeat center center fixed; /* Old browsers */
    background: -moz-linear-gradient(center bottom , #C3D7D1 0%, #EEF4F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
body.liac-old{
    background: #C3D7D1 no-repeat center center fixed; /* Old browsers */
    background: -moz-linear-gradient(center bottom , #F5E8A2 0%, #FCF8E2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)
}