.notification-list .function-wrapper .fa {
    opacity: 0;
    font-size: 1.1em;
}
.notification-list .function-wrapper .fa-envelope.active {
    opacity: 1;
    color:#FF870A;
}

.notification-list li:hover .function-wrapper .fa{
    opacity: 1;
}


