/*
    Document   : social-concept-base2
    Created on : Sep 12, 2013, 2:48:00 PM
    Author     : camellia
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.box {
	margin: 20px 10px;
	padding: 45px 15px 15px;
	background-color: #fff;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	border-style: solid;
	position: relative;
}
.box.main-box{
	padding: 0px;
	padding-bottom: 40px;
	background-color: rgba(217,237,247,0.2);
}
.search-result:after {
	content: "Search Result";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.search-control:after {
	content: "Start Search Your Trip";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.edit-user-box:after {
	content: "Who edit this map ?";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.make-own-travel:after {
	content: "make your own travel";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: bold;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.tab-pane {
	margin: 20px 10px;
	padding: 15px;
}
.btn.btn-sm, .btn.btn-xs {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.page-header {
	margin-top: 0px !important;
	padding: 40px 20px 9px;
	border-bottom: 1px solid #eeeeee;
	color: white;
	background: #428AE8;
	border-bottom: 8px solid #0155d8 !important;
}
.label.label-lg{
	padding: 6px 10px;
	line-height: 1.5;
	display: inline-block;
}
.img-search-result{
	width: 100%;
	margin: 20px auto;
}