/* Style for IE8  */
/*Correction of the fallowing problems: */
/* -tabs not shown properly tabs were positioned to high, no borders were visible  */
/* icons were not shown properly */


.somea-box header .nav {
  margin-top: 0px!important; /* fix tabs*/
  top: 18px!important;
  position: relative!important;
}

.somea-box header .nav-tabs > .active > a, .somea-box header .nav-tabs > .active > a:hover {
  filter: none;
}

[class^="icon-"],
[class*=" icon-"],
.nav-tabs > .active > a > [class^="icon-"] {
  background-image: url("../img/somea-glyphicons-semi-IE8-14x14.png");
  min-width: 14px;
}
.icon-white {
  background-image: url("../img/somea-glyphicons-white-14x14.png");
}
.icon-negative {
  background-image: url("../img/somea-glyphicons-negative-14x14.png");
}

span.icon [class^="icon-"], span.icon [class*=" icon-"]{
  margin-right: 5px;
}

.somea-box  {
   border: 1px solid rgb(214, 210, 210);
}

.row .condensed input[type=checkbox] + span,
.row-fluid .condensed input[type=checkbox] + span,
.row .condensed input[type=radio] + span,
.row-fluid .condensed input[type=radio] + span{
  width: 80%;
}




