/*!
 * Overwriting Bootstrap variables to fit SOMEA
 */
@font-face {
  font-family: 'amadeusregular';
  src: url('../amadeus-font/webfonts/amadeus-regular-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-regular-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-regular-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-regular-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-regular-web.svg#amadeusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amadeusbold';
  src: url('../amadeus-font/webfonts/amadeus-bold-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-bold-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-bold-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-bold-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-bold-web.svg#amadeusbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amadeusbold_italic';
  src: url('../amadeus-font/webfonts/amadeus-bolditalic-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-bolditalic-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-bolditalic-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-bolditalic-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-bolditalic-web.svg#amadeusbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amadeusitalic';
  src: url('../amadeus-font/webfonts/amadeus-italic-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-italic-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-italic-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-italic-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-italic-web.svg#amadeusitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amadeusthin';
  src: url('../amadeus-font/webfonts/amadeus-thin-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-thin-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-thin-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-thin-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-thin-web.svg#amadeusthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'amadeusthin_italic';
  src: url('../amadeus-font/webfonts/amadeus-thinitalic-web.eot');
  src: url('../amadeus-font/webfonts/amadeus-thinitalic-web.eot?#iefix') format('embedded-opentype'), url('../amadeus-font/webfonts/amadeus-thinitalic-web.woff') format('woff'), url('../amadeus-font/webfonts/amadeus-thinitalic-web.ttf') format('truetype'), url('../amadeus-font/webfonts/amadeus-thinitalic-web.svg#amadeusthin_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* -------------------------
@someaBlue: #1A61A9;
// Amadeus Blue. Base Color for all shades of blue
@someaDarkBlue: saturate(darken(@someaBlue, 12%), 10%);
// #0C4078
@someaLightBlue: desaturate(lighten(@someaBlue, 37%), 10%);
// #98C0E7
@someaLightestBlue: desaturate(lighten(@someaBlue, 50%), 10%);
// #CEE1F4

// SOMEA grey
// -------------------------
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #777;
@formBorder: #c4c4c4;
@grayLighter: #d9d9d9;
// Suite Body Background
@grayLightest: #f2f2f2;
@white: #fff;

// Accent colors
// -------------------------
@green: #a3ca0a;
@red: #ff4c00;
@redDark: #DD0C06;
// Additional SOMEA color (= @errorBackground)
@yellow: #ffd20a;
@orange: #ff9417;

*/
.hide {
  display: none !important;
}
li[class^="severity"] {
  cursor: pointer;
}
li[class^="severity"] .messageBody {
  max-width: 100%;
  margin-bottom: 6px;
}
li[class^="severity"] .messageBody.messageCollapsed {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
li[class^="severity"] .messageBody + a {
  opacity: 0;
  margin: 0;
  padding: 0 40px;
  font-size: 0.9em;
  left: 45%;
  position: absolute;
}
li[class^="severity"] .messageBody + a .fa {
  vertical-align: top;
}
li[class^="severity"]:hover a {
  opacity: 1;
}
.function-wrapper .disabled .fa {
  color: #787875 !important;
}
.function-wrapper .fa {
  opacity: 0;
  font-size: 1.1em;
}
.function-wrapper .fa.active {
  opacity: 1;
}
.function-wrapper .fa.active.fa-envelope {
  color: #FF870A;
}
.function-wrapper .fa.active.fa-bell {
  color: #ce0058;
}
.function-wrapper .fa.active.fa-ban {
  color: #f82700;
}
li:hover .function-wrapper .fa {
  opacity: 1;
}
li[class^="severity"] {
  opacity: 1;
}
.modal.notification-settings .modal-body {
  padding: 0 0 20px;
}
.modal.notification-settings .modal-body .other-setting-info {
  margin-right: 20px;
}
.modal.notification-settings .modal-body .pull-right {
  text-align: right;
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}
li[class^="severity"].fadeOutRight {
  animation-duration: 1s;
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  opacity: 0;
}
