// Reset margin-bottom for somea-box
.somea-box header + div .row-fluid:last-child .well{margin-bottom: 0}

// Sizes
.well-large {
  padding: @gridGutterWidth;
  .border-radius(@borderRadiusLarge);
}
.well-small {
  padding: @gridGutterWidth/2;
  .border-radius(@borderRadiusSmall);
}

.row-fluid .well{
	margin-bottom: @fluidGridGutterWidth;
}

.well-semi{
	background-color: fadeout(@wellBackground, 70%);
	border: 1px solid darken(fadeout(@wellBackground, 70%), 7%);

}