.modal{
  .row-fluid{
    width: 520px;
  }

  .somea-box{
    margin-bottom: 0;
  }

  footer{
    border-radius: 0 0px 3px 3px;
  }

  .scroll-pane{
    max-height: 350px;
    overflow-y: auto;
  }

}

fieldset.channels{

  fieldset{
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px 00px 0px 0;

    label{
      color: #777;
      display: block;
    }
  }
}



fieldset.message{

  .span12{
    margin-left: 0;
  }

  textarea{
    height: 100px;
  }

}

.inner-box{

  margin-bottom: 20px !important;
  padding-bottom: 20px;

  fieldset{
    padding: 20px 10px 0 10px;
  }

  fieldset.more{
    margin: -20px 0 0px 0;
    padding-bottom: 0px;
  }

  .separated{
    margin-top: 20px;
  }

  .pull-down{
    padding-top: 18px;
  }

}

