.modal .row-fluid {
  width: 520px;
}
.modal .somea-box {
  margin-bottom: 0;
}
.modal footer {
  border-radius: 0 0px 3px 3px;
}
.modal .scroll-pane {
  max-height: 350px;
  overflow-y: auto;
}
fieldset.channels fieldset {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 00px 0px 0;
}
fieldset.channels fieldset label {
  color: #777;
  display: block;
}
fieldset.message .span12 {
  margin-left: 0;
}
fieldset.message textarea {
  height: 100px;
}
.inner-box {
  margin-bottom: 20px !important;
  padding-bottom: 20px;
}
.inner-box fieldset {
  padding: 20px 10px 0 10px;
}
.inner-box fieldset.more {
  margin: -20px 0 0px 0;
  padding-bottom: 0px;
}
.inner-box .separated {
  margin-top: 20px;
}
.inner-box .pull-down {
  padding-top: 18px;
}
