.table {
  td, th {
    vertical-align: top;
    line-height: @gridGutterWidth  * 1.2;
    padding: @gridGutterWidth/2;
    &.pull-right {
      text-align: right; // e.g. for figueres/numbers
      float: none; // Reset common pull-right
    }
    a {
      white-space: nowrap
    }
    // prevent carets from wrapping
    button:last-child {
      margin-right: 0;
    }
  }
  th {
    background-color: @grayLightest;
    font-weight: normal;
    a {
      color: @grayLight !important;
    }
  }
  &-condensed td,
  &-condensed th {
    padding: @gridGutterWidth/4 @gridGutterWidth/2;
  }
  th a {
    display: block;
    &:hover i.icon-sort.icon-semi {
      .opacity(75); // Highlight Sort icon on Rollover in Table Header
    }
  }
}

.table-align-top td {
  // Currently used for comment summary in message stream
  padding-right: @baseLineHeight/2;
  &:last-child {
    padding: 0
  }
}

.gridFullWidth .table tr th:first-child,
.gridFullWidth .table tr td:first-child {
  padding-left: @gridGutterWidth;
}

.gridFullWidth .table tr th:last-child,
.gridFullWidth .table tr td:last-child {
  padding-right: @gridGutterWidth;
}

.table-scrollable {
  overflow-y: scroll;
  padding-right: @gridGutterWidth;
  table {
    border: 1px solid @tableBorder !important;
    border-collapse: separate; // Done so we can round those corners!
    *border-collapse: collapse; // IE7 can't round corners anyway
    border-left: 0;
    .border-radius(@baseBorderRadius);
    tr:first-child td {
      border: 0
    }
  }

}

// Align icon buttons vertically... not a beautiful solution because it does not work with multi-line spans
.popover .table span.icon {
  line-height: @gridGutterWidth * 1.2;
}

table#datepicker td,
table#datepicker th {
  padding: 3px 5px !important;
}

// Remove bottom margin from Tables in modal dialogs
.modal .table {
  margin-bottom: 0;
}